body {
  overflow-x: hidden;
}

.error {
  color: red;
}

#email_error,
#name_error,
#message_error {
  display: none;
}

@media screen and (max-width: 600px) {
  .img {
    height: 20px;
    width: 20px;
    margin: 10px;
  }

  .front-page,
  .main {
    width: 100%;
  }

  .firth {
    width: 100%;
    margin: auto;
    background-image: url("Images/temp3.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .images {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    width: 100%;
  }

  h4 {
    width: 90px;
    height: 28px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    display: inline-block;
    align-items: center;
    text-align: center;
    color: #28352f;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-left: 20px;
  }

  .header {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: center;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .article {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #3ec994;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 0;
  }

  .p {
    width: 327px;
    height: 164px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #172b4d;
    flex: none;
    order: 1;
    flex-grow: 0;
    justify-content: center;
    margin: auto;
  }

  .space {
    width: 100%;
    height: 32px;
  }

  .more-space {
    width: 100%;
    height: 62px;
  }

  .top-bar {
    margin: auto;
    overflow: hidden;
    background-color: #fff;
    top: 0;
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu {
    height: 40px;
    width: 60px;
    float: right;
    padding: 15px;
    padding-left: 270%;
  }

  nav {
    display: flex;
    float: right;
  }

  ul {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    text-align: center;
  }

  .drop-down {
    display: flex;
    height: 40px;
    width: 40px;
    margin: auto;
  }

  .works {
    height: 97px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
    justify-content: center;
  }

  body {
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .indicator {
    width: 100%;
  }

  .block {
    width: 327px;
    height: 474px;
    top: 4px;
    left: 2px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    margin: 30px auto;
    background: #ebf0ee;
  }

  .gray-area {
    height: 252px;
    width: 327px;
    background: #ebf0ee;
  }

  .rest {
    margin: auto;
    background-color: #fff;
    padding-left: 25px;
  }

  #line {
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-right: 25px;
  }

  .description {
    background: #fff;
    border-radius: 8px;
    border: 2px solid #ebf0ee;
    height: 222px;
  }

  .post {
    width: 295px;
    height: 57px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3a4a42;
    flex: none;
    order: 0;
    margin: 16px auto;
    flex-grow: 0;
  }

  .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    width: 305px;
    height: 32px;
    margin-right: 8px;
  }

  .ruby {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    width: 79px;
    height: 16px;
    background: #ebf0ee;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .font {
    width: 79px;
    height: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #3a4a42;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .css {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    width: 21px;
    height: 16px;
    background: #ebf0ee;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .js {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    width: 58px;
    height: 16px;
    background: #ebf0ee;
    border-radius: 4px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .html {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    width: 27px;
    height: 16px;
    background: #ebf0ee;
    border-radius: 4px;
    flex: none;
    order: 3;
    flex-grow: 0;
  }

  .button-space {
    width: 305px;
    height: 101px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .project-text {
    height: 48px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    cursor: pointer;
    background: #36b37e;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: auto;
  }

  .about {
    background-image: url("Images/Aboutme-background\ \(1\).png"), url("Images/illustration.png");
    background-position: left top, right top;
    background-repeat: no-repeat;
  }

  .gap {
    width: 100%;
    height: 15px;
  }

  .illustration {
    width: 68.46px;
    height: 107.94px;
    float: right;
  }

  .about-head {
    margin: 40px auto 0;
    display: block;
    align-items: center;
    justify-content: center;
    height: 48px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .about-text {
    width: 355px;
    height: 189px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 25px auto;
  }

  .resume-text {
    height: 48px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    background: #36b37e;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: auto;
  }

  button:hover {
    border-radius: 4px;
    background: #36b37f;
  }

  button:active {
    border-radius: 4px;
    background: #008552;
  }

  .works1 {
    padding-top: 60px;
    margin: auto;
    display: block;
    height: 1127px;
  }

  .resume-block {
    width: 100%;
    height: 48px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: auto;
    text-align: center;
    display: flex;
  }

  .container {
    height: 352px;
    width: 327px;
    background: #ebf0ee;
    border: 1px solid #c1c7d0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .container h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #344563;
    margin-top: 64px;
  }

  .icon-circle {
    width: 80px;
    height: 80px;
    background: #fff;
    box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  .about-buttons {
    display: flex;
    justify-content: space-between;
  }

  .nav-item li {
    list-style: none;
  }

  .card-buttons ul {
    list-style-type: none;
    margin: 0;
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  .card-buttons ul li {
    background: #fff;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #36b37e;
    padding: 12px;
  }

  .about-section {
    margin-top: 59px;
  }

  .about-title {
    width: 337px;
    height: 32px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .frameworks {
    width: 337px;
    height: 32px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .tags ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    width: 305px;
    height: 32px;
    flex: none;
  }

  .tags ul li {
    background: #ebf0ee;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #3a4a42;
    padding: 10px;
    margin: auto;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    gap: 58px;
    align-items: center;
    position: relative;
    margin: auto;
    background-image: url('Images/illustration-contact-form.png');
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .text-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 327px;
    padding-bottom: 60px;
    height: 363px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: auto;
  }

  .form-text {
    width: 327px;
    height: 363px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 327px;
    height: 285px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;
    margin: 0;
  }

  .label {
    box-sizing: border-box;
    width: 327px;
    height: 48px;
    background: #fff;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
  }

  .bio {
    width: 327px;
    height: 114px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  textarea::placeholder {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #091e42;
    padding: 12px;
  }

  .illustration-contact {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .get-in-touch {
    align-items: center;
    gap: 10px;
    width: 129px;
    height: 48px;
    background: #36b37f;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.03em;
    margin: auto;
    text-align: center;
    border: none;
  }

  .touch-box {
    margin: 70px auto;
    align-items: center;
    width: 100%;
    display: flex;
    padding-top: 24px;
  }

  .lower-logo ul {
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 40px auto 0;
  }

  ::placeholder {
    padding: 15px 16px;
  }

  .footer {
    height: 189px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    margin: auto;
  }

  textarea {
    border-color: #36b37e;
  }

  .desktop-nav,
  .in-touch,
  .illustration-desktop,
  hr {
    display: none;
  }

  .nav-link {
    text-decoration: none;
    transition: 0.7s ease;
    color: #3a4a42;
  }

  .nav-item {
    margin: 16px 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #3a4a42;
  }

  .nav-menu.active {
    left: 0;
    bottom: 0;
  }

  .nav-link:hover {
    color: #36b37e;
  }

  .nav-bar {
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    justify-content: space-between;
    min-width: 345px;
  }

  span.bar {
    background: #28352f;
  }

  .hamburger {
    cursor: pointer;
    display: block;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }

  .hamburger.active {
    margin-top: 90px;
    position: fixed;
    left: 325px;
  }

  .hamburger.active .bar {
    width: 15px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
    background: #67798e;
    height: 1.6px;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
    background: #67798e;
    height: 1.6px;
  }

  .nav-menu {
    position: fixed;
    left: -200%;
    bottom: 0;
    gap: 0;
    flex-direction: column;
    mix-blend-mode: normal;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    height: 100%;
    border-radius: 8%;
    overflow-x: hidden;
  }

  .nav-branding {
    width: 90px;
    height: 28px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #28352f;
    text-decoration: none;
  }

  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: flex;
    gap: 12px;
  }

  .modal {
    position: fixed;
    display: none;
    background-color: #c1c7d0f7;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
  }

  .modal-container {
    background-color: #fff;
    padding: 16px;
    border-radius: 16px;
    width: 70%;
    margin: auto auto auto auto;
    display: flex;
    flex-direction: column;
  }

  .modal-project-image {
    border-radius: 8px;
    width: 100%;
    height: 220px;
  }

  .close-button {
    align-self: flex-end;
    border: none;
    background-color: #fff;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    top: 50px;
    cursor: pointer;
  }

  .Intro .project-title .popup-header {
    align-self: flex-start;
    text-align: start;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .project-codekit {
    display: flex;
  }

  .project-codekit .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .project-codekit .tags .tag {
    background-color: #ebf0ee;
    color: #3a4a42;
    border-radius: 4px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 12px;
  }

  .project-description p {
    font-size: 16px;
    font-weight: 400;
    color: #344563;
    text-align: start;
    margin-top: 12px;
    margin-bottom: 0;
  }

  .project-btn.mobile-view {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 20px;
  }

  .flex-item-2 {
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }

  .flex-item-2 .btn {
    align-self: center;
  }

  .project-btn.mobile-view .btn {
    display: flex;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    padding: 8px 12px;
    align-items: center;
    text-align: center;
    gap: 8px;
    background: #36b37e;
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
    width: 100%;
    justify-content: center;
  }
}

@media screen and (min-width: 601px) {
  .top-bar,
  .space,
  .indicator,
  .illustration-contact,
  .touch-box,
  .footer {
    display: none;
  }

  .firth {
    background-image: url(Images/headerDesktop.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .desktop-nav {
    height: 72px;
    align-items: center;
  }

  .item-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    width: 255px;
    height: 40px;
    margin: auto;
  }

  #nav-ptf {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    width: 87px;
    height: 40px;
  }

  #nav-abt {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    width: 69px;
    height: 40px;
  }

  #nav-cnt {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    width: 83px;
    height: 40px;
  }

  .txt-nav {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .front-page {
    height: 756px;
    padding: 160px 0;
    margin: auto;
  }

  .header {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
    color: #172b4d;
  }

  .article {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
    color: #3ec994;
  }

  .p {
    width: 920px;
    height: 96px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #172b4d;
    margin: auto;
  }

  ul .images {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    padding: 0;
    height: 40px;
  }

  .img {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    width: 17.99px;
    height: 20px;
    border-radius: 8px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    padding: 0;
  }

  .drop-down {
    display: flex;
    height: 40px;
    width: 40px;
    margin: auto;
    padding: 60px;
  }

  .rest {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 0;
    width: 1171px;
    height: 1244px;
    margin: auto;
  }

  .works {
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #172b4d;
  }

  .block {
    width: 369px;
    height: 474px;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    margin-right: 24px;
    background: #ebf0ee;
    display: inline;
  }

  .row {
    display: grid;
    grid-template-columns: 369px 369px 369px;
    align-items: center;
    padding: 4px 0;
    height: 482px;
    width: 1155px;
    margin-top: 24px;
    gap: 24px;
  }

  .gray-area {
    height: 252px;
    width: 369px;
    background: #ebf0ee;
  }

  .description {
    background: #fff;
    border-radius: 8px;
    border: 2px solid #ebf0ee;
    height: 222px;
  }

  .post {
    width: 295px;
    height: 57px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3a4a42;
    flex: none;
    order: 0;
    margin: 16px auto;
    flex-grow: 0;
  }

  .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    width: 305px;
    height: 32px;
    margin: auto;
  }

  .button-space {
    width: 305px;
    height: 101px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .project-text {
    height: 48px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    background: #36b37e;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: auto;
  }

  .tags ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    width: 305px;
    height: 32px;
    flex: none;
  }

  .tags ul li {
    background: #ebf0ee;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #3a4a42;
    margin: auto;
    padding: 10px;
  }

  .about {
    background-image: url('Images/right-about.png'), url('Images/About-me\ desktop\ single.png');
    background-position: top right, left bottom;
    background-size: 20%, 20%;
    background-repeat: no-repeat;
    padding-top: 118px;
    height: 250px;
  }

  .about-head {
    width: 447px;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #172b4d;
    margin: auto;
  }

  .about-text {
    width: 920px;
    height: 96px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    margin: auto;
    padding: 24px 0;
  }

  .resume-text {
    height: 48px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #fff;
    background: #36b37e;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: auto;
  }

  .resume-block {
    width: 100%;
    height: 48px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: auto;
    text-align: center;
    display: flex;
  }

  .about-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    gap: 24px;
    height: 360px;
    width: 1171px;
    margin: 52px auto;
  }

  .container {
    height: 352px;
    width: 369px;
    background: #ebf0ee;
    border: 1px solid #c1c7d0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #344563;
    margin-top: 64px;
  }

  .icon-circle {
    width: 80px;
    height: 80px;
    background: #fff;
    box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  .about-buttons {
    display: flex;
    justify-content: space-between;
  }

  .card-buttons ul {
    list-style-type: none;
    margin: 0;
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  .card-buttons ul li {
    background: #fff;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #36b37e;
    padding: 12px;
  }

  .contact-form {
    margin: 80px auto 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 80px 0;
    gap: 24px;
    height: 490px;
    width: 1471px;
    justify-content: center;
    background-image: url('Images/illustration-1-contact-form-desktopfitst.png'), url('Images/illustration-2-contact-form-desktop@2x.png'), url('Images/illustration-3-contactform.png');
    background-position: left bottom, left 300px bottom 90px, right bottom;
    background-repeat: no-repeat;
    background-size: auto, 100.44px 135.85px, auto;
  }

  .text-layout {
    width: 463px;
    height: 256px;
    display: flex;
    align-items: center;
  }

  .form-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    color: #172b4d;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    width: 684px;
    height: 330px;
    border: none;
  }

  .label {
    width: 684px;
    height: 48px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #d0d9d4;
  }

  .bio {
    width: 684px;
    height: 114px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #60c095;
  }

  .in-touch {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 129px;
    height: 48px;
    background: #36b37f;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    border: none;
  }

  .illustration-desktop {
    position: absolute;
    width: 100.44px;
    height: 135.85px;
    left: 301px;
    top: 3824px;
  }

  hr {
    background: #dfe1e6;
    border: 1px solid #dfe1e6;
  }

  textarea::placeholder {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #091e42;
    padding: 12px;
  }

  ::placeholder {
    padding: 15px 16px;
  }

  .desk-link {
    text-decoration: none;
    color: black;
  }

  .desktop-view {
    display: flex;
    gap: 12px;
  }

  .mobile-view-btn {
    display: none;
  }

  .project-btn.mobile-view {
    display: none;
  }

  .close-button {
    border-radius: 8px;
    background: #ebf0ee;
    padding: 14px;
    align-self: flex-end;
    color: #67798e;
    border: 2px solid #ebf0ee;
    margin-bottom: 15px;
    cursor: pointer;
  }

  .modal-project-image {
    border-radius: 8px;
    width: 100%;
    height: auto;
  }

  .modal-container .Intro {
    position: static;
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 12px;
  }

  .popup-header {
    font-weight: 700;
    font-size: 32px;
    color: #172b4d;
    font-style: normal;
    font-family: "Inter", sans-serif;
    line-height: 44px;
    width: 589px;
  }

  .project-btn.desktop-view .btn {
    display: flex;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    padding: 8px 12px;
    align-items: center;
    text-align: center;
    gap: 4px;
    border-radius: 8px;
    background: #36b37e;
    color: #fff;
    text-decoration: none;
  }

  .modal {
    position: fixed;
    display: none;
    background-color: #c1c7d0f7;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
  }

  .modal-container {
    background-color: #fff;
    padding: 16px;
    border-radius: 16px;
    width: 70%;
    margin: auto auto auto auto;
    display: flex;
    flex-direction: column;
  }

  .Intro .project-title .popup-header {
    align-self: flex-start;
    text-align: start;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .project-codekit {
    display: flex;
    width: 50%;
    margin: 0 0 30px;
  }

  .project-codekit .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
  }

  .project-codekit .tags .tag {
    background-color: #ebf0ee;
    color: #3a4a42;
    border-radius: 4px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .project-description p {
    font-size: 16px;
    font-weight: 400;
    color: #344563;
    text-align: start;
    margin-bottom: 0;
    margin-top: 36px;
    line-height: 30px;
  }
}
