.img {
  height: 20px;
  width: 20px;
  margin: 10px;
}

main {
  max-width: 375px;
  margin: auto;
  height: fit-content;
  background-image: url("Images/temp3.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.images {
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

h4 {
  width: 90px;
  height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: inline-block;
  align-items: center;
  text-align: center;
  color: #28352f;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 20px;
}

.header {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.article {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #3ec994;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 0;
}

.p {
  width: 327px;
  height: 164px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 1;
  flex-grow: 0;
  justify-content: center;
  margin: auto;
}

.space {
  width: 100%;
  height: 32px;
}

.more-space {
  width: 100%;
  height: 62px;
}

.top-bar {
  max-width: 375px;
  margin: auto;
  overflow: hidden;
  background-color: #fff;
  top: 0;
  width: 100%;
  height: 92px;
  display: flex;
}

.menu {
  height: 40px;
  width: 60px;
  float: right;
  padding: 15px;
}

nav {
  display: flex;
  float: right;
}

ul {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  text-align: center;
}

.drop-down {
  display: flex;
  height: 40px;
  width: 40px;
  margin: auto;
}

.works {
  max-width: 327px;
  height: 97px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

body {
  max-width: 375px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.indicator {
  width: 100%;
}

.block {
  width: 327px;
  height: 474px;
  top: 4px;
  left: 2px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  margin-bottom: 24px;
}

.gray-area {
  height: 252px;
  width: 327px;
  background: #ebf0ee;
}

.rest {
  margin: auto;
  background-color: #fff;
  padding-left: 25px;
}

#line {
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-right: 25px;
}

.description {
  background: #fff;
  border-radius: 8px;
  border: 2px solid #ebf0ee;
  height: 222px;
}

.post {
  width: 295px;
  height: 57px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;
  flex: none;
  order: 0;
  margin: 16px auto;
  flex-grow: 0;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 305px;
  height: 32px;
  margin: auto;
}

.ruby {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  width: 79px;
  height: 16px;
  background: #ebf0ee;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.font {
  width: 79px;
  height: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  width: 21px;
  height: 16px;
  background: #ebf0ee;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.js {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  width: 58px;
  height: 16px;
  background: #ebf0ee;
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  width: 27px;
  height: 16px;
  background: #ebf0ee;
  border-radius: 4px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.button-space {
  width: 305px;
  height: 101px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
}

.project-text {
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  background: #36b37e;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: auto;
}

.the-rest {
  padding-left: 25px;
}

.about {
  background-image: url("Images/Aboutme-background\ \(1\).png");
}

.gap {
  width: 100%;
  height: 15px;
}

.illustration {
  width: 68.46px;
  height: 107.94px;
  float: right;
}

.about-head {
  margin: 40px auto 0;
  margin-left: 60px;
  display: block;
  align-items: center;
  justify-content: center;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-text {
  width: 355px;
  height: 189px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.resume-text {
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  background: #36b37e;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: auto;
}

button:hover {
  border-radius: 0;
  background: #3a4a42;
}

.works1 {
  padding-top: 60px;
  margin: auto;
  display: block;
  height: 1127px;
}

.resume-block {
  width: 100%;
  height: 48px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: auto;
  text-align: center;
  display: flex;
}

.container {
  height: 352px;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.container h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  margin-top: 64px;
}

.icon-circle {
  width: 80px;
  height: 80px;
  background: #fff;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.about-buttons {
  display: flex;
  justify-content: space-between;
}

.card-buttons ul {
  list-style-type: none;
  margin: 0;
  padding: 12px;
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.card-buttons ul li {
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  padding: 12px;
}

.about-section {
  margin-top: 59px;
}

.about-title {
  width: 337px;
  height: 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frameworks {
  width: 337px;
  height: 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tags ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  width: 305px;
  height: 32px;
  flex: none;
}

.tags ul li {
  background: #ebf0ee;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  padding: 12px;
}
